<?xml version="1.0"?>
<configuration>
  <system.serviceModel>

    <client>
        <endpoint address="net.tcp://localhost:8000/" binding="netTcpBinding" contract="WCF.Validation.Contract.IOrderService" name="OrderService"/>    
    </client>

  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
