<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <services>
            <service name="WCF.Validation.Contract.OrderServiceImplementation" behaviorConfiguration="OrderServiceBehavior">
                <endpoint address="net.tcp://localhost:8000/" binding="netTcpBinding" contract="WCF.Validation.Contract.IOrderService" name="OrderServiceImplementation"/>
                <endpoint address="net.tcp://localhost:8000/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior name="OrderServiceBehavior">
                    <serviceMetadata/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
